@import "../partials/mixins";
@import "../partials/functions";

@media (prefers-color-scheme: dark){
    :root {
        --tripple-switch-back: #151515;
        --text-color: #fff;
    }
}

@media (prefers-color-scheme: light){
    :root {
        --tripple-switch-back: #838383;
        --text-color: #000;
    }
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    section {
        width: 90%;
        margin-top: 10px;

        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            margin-bottom: 20px;
        }
    }
}

#tripple-switch {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #00000079;
    background-color: var(--tripple-switch-back);
    height: 50px;

    .mode {
        display: flex;
        cursor: pointer;

        path, g {
            fill: var(--text-color);
        }
    }

    .active {
        background-color: var(--accent-color);
        padding: 7px 15px;
        display: flex;
        border-radius: 30px;
        box-shadow: 0px 0px 10px #00000094;
        transition: .2s;
    }
}

.color {
    display: flex;
    justify-content: start;
    align-items: center;

    input[type="color"] {

        --webkit-appearance: none;
        border: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: none;
        margin-left: 10px;
    
        &::-webkit-color-swatch-wrapper {
            padding: 0;
        }
    
        &::-webkit-color-swatch {
            border: 2px solid #ccc;
            border-radius: 10px;
        }
    
        &::-moz-color-swatch {
            border: 2px solid #ccc;
            border-radius: 10px;
        }
    }
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    width: 100%;
    margin-top: 50px;
}

#exit {
    @include button(40px, 16px, 15px, 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}
#reset {
    @include button(40px, 16px, 15px, 100px);
    display: none;
    align-items: center;
    justify-content: center;
}

.no-transition,
.no-transition .toggle-switch-label,
.no-transition .toggle-switch-label::before {
    transition: none !important;
}