@import "../partials/mixins";
@import "../partials/functions";


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    section {
        width: 90%;
        margin-top: 10px;

        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            margin-bottom: 20px;
        }
    }
}

#toggle-switch {
    @include toggle();
}

#exit {
    @include button(40px, 16px, 15px, 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}
#reset {
    @include button(40px, 16px, 15px, 100px);

    display: none;
    align-items: center;
    justify-content: center;
}

.no-transition,
.no-transition .toggle-switch-label,
.no-transition .toggle-switch-label::before {
    transition: none !important;
}