@import "../partials/mixins";

@media (prefers-color-scheme: light){
    :root {
        --background-color: #ddd;
    }
}

@media (prefers-color-scheme: dark){
    :root {
        --background-color: #242424;
    }
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    #backg {
        min-width: 100vw;
        min-height: 100vh;
        object-fit: cover;
    }
}

#settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    width: 70%;
    height: 500px;

    background-color: var(--background-color);
    border-radius: 20px;
    box-shadow: 0px 0px 40px #000;

    padding: 50px;
}

#settings-content {
    display: flex;
    height: 80%;

    .box {
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: column;
    }

    #choise {
        #allCheckboxes {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 100%;

            .checkbox-content {
                padding: 20px 0px;
                display: flex;
                align-items: center;

                .checkbox {
                    border: 2px solid var(--accent-color);
                    border-radius: 5px;
                    width: 20px;
                    height: 20px;

                    .tick {
                        display: none;
                        width: 100%;
                        height: 100%;
                        transform: translateY(-2px);
                    }
                }

                label {
                    margin-left: 5px;
                }
            }
        }

        p {
            margin-bottom: 20px;
            font-size: 20px;
        }
    }

    #count {
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        min-height: 100%;
        border-left: 2px solid var(--accent-color);

        #spinbox {
            @include spinbox;
        }
    }
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    height: 20%;

    button {
        @include button (50px, 16px, 15px, 175px)
    }
}