* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

body {
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  body { background: #242424; color: white; }
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; }
}